
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    display: block;
  }

 /* Hero Section */

  #hero {
    background-color: #e4f9f5;
    color: #11cdd4;
    font-family: "Russo One", sans-serif;
    text-align: center;
    height: 80vh;
  }
  .heroheading {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  }
  div {
    display: block;
  }
  #hero h1 {
      font-size: 5.625rem;
      margin: 150px auto 0 auto;
    }
  #hero p {
      font-size: 30px;
  }
  img {
      display: block;
    margin: auto;
  }
  #hero .cloud1 {
      /* align-items: center; */
      /* padding-left: 50px; */
      position: absolute;
      right: 400px;
      top: 30px;
  }
  #hero .cloud2 {
      position: absolute;
    left: 250px;
    bottom: 300px;
}
#hero .mountain {
      width: 700px;
      height: 400px;
    margin-top: 90px;
    top: 0px;
    size: 598px 357px;
  }

  /* About me */

  #aboutme{
    /* height: 500px; */

  }

  #aboutme img{
    width: 180px;
    border-radius: 50%;
    /* padding-top: 100px; */
    margin-top: 100px;
  }

  #aboutme h4{
    margin: 30px;
    font-size: 2.5rem;
    color:  #66bfbf;
  }

  #aboutme p{
    font-size: 1.5rem;
  }